# Deshabilitar el listado de directorios
Options -Indexes

# Bloquear el acceso a archivos de configuración
<Files "config.php">
    Order allow,deny
    Deny from all
</Files>

<Files "config.example.php">
    Order allow,deny
    Deny from all
</Files>

<Files "database_schema.sql">
    Order allow,deny
    Deny from all
</Files>

# Forzar UTF-8
AddDefaultCharset UTF-8

# Cabeceras de seguridad y CORS
<IfModule mod_headers.c>
    # Seguridad básica
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set Referrer-Policy "strict-origin-when-cross-origin"

    # CORS (Necesario para la comunicación con la App móvil)
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>
